*.c
*.as
*.asm

/x86_64w/bulldozer/piledriver
/x86_64w/haswell

/x86w/p0/gmp-mparam.h
/x86w/p3/gmp-mparam.h
/x86w/p4/gmp-mparam.h
/x86w/p6/mmx/gmp-mparam.h
/x86w/p6/gmp-mparam.h
/x86w/pentium4/gmp-mparam.h
